*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1330px;
    width: 100%;
}

body{
    background: #f1f1f1;
}

.procent{
    background: #323232;
    font-family: 'MR';
font-weight: 400;
font-size: 22px;
text-transform: capitalize;
color: #fff;
position: absolute;
left: 16px;
top: 16px;
padding: 11px 39px;
border-radius: 10px;
}

.buy{
    position: absolute;
right: 34px;
border-radius: 10px;
background: #fff;
top: 36px;
padding: 15px 15px;
}
.buy1{
    position: absolute;
right: 34px;
border-radius: 10px;
background: #fff;
top: 105px;
padding: 15px 15px;
}

.sovet{
    position: absolute;
    left: 20px;
    top: 20px;
    border-radius: 8px;
    background: #fff;
    font-family: 'MR';
font-weight: 400;
font-size: 20px;
text-transform: uppercase;
color: #323232;
padding: 15px 30px;
}

.iccon{
    display: flex;
    flex-direction: column;
    gap: 24px;
}


.nav__box{
    display: flex;
    justify-content: space-between;
}

.header__nav{
    padding-top: 50px;
}

.tittle::after{
    content: '';
    display: block;
    height: 2px;
    width: 100%;
    background: #323232;
    bottom: 0;
    left: 0;
    margin-top: 21px;
}

.header__nav-svg{
    display: flex;
    gap: 40px;
}

.header__nav-link{
    display: flex;
    justify-content: space-between;
    max-width: 510px;
    width: 100%;
}

.header__nav-li{
    font-family: 'MR';
font-weight: 400;
font-size: 18px;
text-transform: capitalize;
color: #323232;
}

.nav__svg-btn{
    border: none;
    outline: none;
}

.header__nav-tittle{
    font-family: 'MB';
font-weight: 700;
font-size: 32px;
line-height: 72%;
text-transform: uppercase;
color: #323232;
}

.header__content{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(2, 300px);
gap: 24px;
margin: 40px 0 60px 0;
}

.header__content-item:nth-of-type(2) {
    grid-row: span 2;

}

.header__content-item{
    background: #e1e1e1;
    display: flex;
    align-items: center;
    padding: 0 46px 0 110px;
    gap: 20px;
    box-shadow: 6px 6px 15px 0 rgba(132, 132, 132, 0.3);
    position: relative;
}


.header__content-text{
    font-family: 'MR';
    font-weight: 400;
    font-size: 16px;
    color: #323232;
}

.header__content-tittle{
    font-family: 'MB';
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #000;
}

.header__content-price{
    font-family: 'MR';
    font-weight: 400;
    font-size: 15px;
    line-height: 112%;
    text-transform: uppercase;
    color: #323232;
}

.header__content-item-info{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.main__content{
    margin-top: 40px;
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 24px
}

.main__tittle{
    text-align: center;
    font-family: 'MR';
font-weight: 400;
font-size: 30px;
letter-spacing: 0.07em;
text-transform: uppercase;
color: #000;
}

.main__content-item{
    border-radius: 10px;
    max-width: 416px;
    width: 100%;
    background: #e1e1e1;
    padding: 72px 0 39px 0;
    text-align: center;
    position: relative;
}

.main__content-text{
    font-family: 'MR';
font-weight: 400;
font-size: 20px;
color: #323232;
margin: 20px 0;
}

.main__content-img{
    max-width: 200px;
    width: 100%;
}

.content-item-img{
    max-width: 100px;
    width: 100%;
    max-height: 120px;
    height: 100%;
}
.content-item-imges{
    max-width: 300px;
    width: 100%;
}

.main__content-tittle{
    font-family: 'MB';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #000;
}
.main__content-price{
    font-family: 'MR';
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    text-transform: uppercase;
    color: #323232;
    margin-top: 20px;
}

.main__content-conclusion{
    font-family: 'MR';
font-weight: 400;
font-size: 30px;
color: #323232;
display: block;
text-align: center;
}

.news{
    margin-top: 40px;
}

.news__item-tittle{
    font-family: 'MB';
    font-weight: 700;
    font-size: 22px;
    font-variant: all-small-caps;
    color: #fff;
    margin-top: 110px;
}
.news__item-text{
    font-family: 'MR';
    font-weight: 400;
    font-size: 18px;
    line-height: 122%;
    font-variant: all-small-caps;
    color: #e1e1e1;
    margin-top: 30px;
}

.news__item-end{
display: flex;
margin-top: 100px;
gap: 10px;
}

.news__item-end-text{
    font-family: 'MR';
    font-weight: 400;
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
}

.news__item{
    background: rgba(50, 50, 50, 0.7);
    background: url(../images/news1.jpg) no-repeat center /cover;
    padding-left: 60px;
    position: relative;
}

.news__item2{
    background: url(../images/news2.png) no-repeat center /cover;
}

.news__box{
    display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: repeat(1, 470px);
gap: 24px;
margin: 40px 0 60px 0;
}

.footer{
    background: #323232;
    padding: 100px 0 90px 0;
}

.footer__box{
    display: flex;
    justify-content: space-between;
}

.footer_item-head-tittle{
    font-family: 'MB';
font-weight: 700;
font-size: 32px;
line-height: 72%;
text-transform: uppercase;
color: #fff;
margin-bottom: 40px;
}

.footer__item-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer__item-link{
    font-family: 'MR';
font-weight: 400;
font-size: 18px;
text-transform: capitalize;
color: #fff;
}

.footer_item-tittle{
font-family: 'MR';
font-weight: 400;
font-size: 22px;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #fff;
margin-bottom: 40px;
}

.footer__item-info{
display: flex;
flex-direction: column;
gap: 15px;
}

.footer__item-info-text{
    font-family: 'MR';
font-weight: 400;
font-size: 18px;
font-variant: all-small-caps;
color: #fff;
}

.footer__item-info-link{
    display: flex;
    gap: 10px;
}

.footer__item-info-li{
    font-family: 'MR';
    font-weight: 400;
    font-size: 18px;
    font-variant: all-small-caps;
    color: #fff;
}

.footer-tittle{
    margin-top: 60px;
}

.footer__item-svg{
    display: flex;
    gap: 26px;
}